@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





/*========fuente===========*/
.font-roboto{
  font-family: 'Manrope', sans-serif;
}

/*======Formularios============*/

.form-input,
.form-textarea,
.form-select {
  @apply p-2 leading-normal block w-full border border-cyan-700 text-gray-700 bg-white font-sans rounded text-left appearance-none relative focus:border-cyan-200 focus:ring;
}

.form-error {
  @apply text-red-700 mt-2 text-sm;
}

.form-label{
  @apply font-medium inline-block py-2 text-gray-800;
}

.form-input.error,
.form-textarea.error,
.form-select.error {
  @apply border-red-500 focus:ring focus:ring-red-200;
}




/*=======Botones============*/

.btn-nuevo{
  @apply inline-block px-4 py-2 rounded-lg bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-cyan-600 hover:to-blue-500;
}

.btn-cancelar{
  @apply px-3 py-2 mx-1 bg-gray-500 rounded hover:bg-gray-700;
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-indigo {
    @apply px-6 py-3 rounded bg-indigo-600 text-white text-sm leading-4 font-bold whitespace-nowrap hover:bg-orange-400 focus:bg-orange-400;
  }

  

